*
{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.navbar-main
{
    width: 100%;
    background-color: black;
    
}
.navbar-list
{
    height: 40px;
    width: 80%;
    background-color: black;
    margin: auto;
    display: flex;
    justify-content: end;
    padding-right: 8%;
}
.navbar-list ul
{
    display: flex;
    align-items: center;
}
.navbar-list ul li
{
    padding: 5%;
    list-style: none;
}
a
{
    text-decoration: none;
}
.black
{
    color: rgb(255, 255, 255);
    font-size: 20px;

}
.hap
{
    width: 100%;
    background-color: rgb(255, 255, 255);

}
.hap .happe
{
    height: 80px;
    width: 80%;
    background-color: white;
    margin: auto;
    display: flex;
    align-items: center;
    padding-left: 2%;

}
.logo
{
    height: 80px;
    width: 15%;
    position: absolute;
    top: 50px;
}
.logo img
{
    height: 50px;
    width: 100%;
}
.a
{
    color: black;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    
}
.menu
{
    height: 80px;
    width: 80%;
    margin-left: 20%;
    /* position: absolute; */
    /* top: 0%; */
    /* align-items: center; */
    /* margin-bottom: 2%; */
}
.menu ul
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -18%;
    
}
.menu ul li 
{
    /* margin: 3%; */
    margin-top: 3.5%;
    padding: 0px 15px;
    list-style: none;

    
}
.input
{
    background-color: rgb(255, 255, 255);
    width: 20%;
    height: 30px;
    margin-right: 5%;
    border-radius: 20px;
}
input
{
    height: 30px;
    width: 100%;
    border-radius: 20px;
    border: none;
    outline: none;
    padding: 5%;
}
.ri-search-line
{
    position: absolute;
    top: 10%;
    right: 24%;
}
::placeholder
{
    padding: 15%;
}
.banner-main
{
    width: 80%;
    height: 350px;
    margin: auto;
    /* background-color: aqua; */
}
.banner-main .banner
{
    height: 350px;
    width: 100%;
    margin: auto;
    background-color: aqua;
}
.border1
{
    height: 2px;
    width: 32%;
    margin-left: 10.5%;
    top: 65.6%;
    position: absolute;
    background-color: black;
}
h3
{
    position: absolute;
    left: 43.5%;

}
.border2
{
    height: 2px;
    width: 32%;
    margin-right: 10%;
    top: 65.6%;
    right: 2%;
    position: absolute;
    background-color: black;
}
.full
{
    height: 300px;
    width: 100%;
    /* background-color: antiquewhite; */
    margin-bottom: 0.5%;
    
}
.full .fourimg
{
    height: 300px;
    width: 80%;
    /* background-color: aqua; */
    margin: auto;
    display: flex;
    border-radius: 20px;
    justify-content: space-between;

}
.full .fourimg img
{
    height: 300px;
    width: 24.5%;
    border-radius: 20px;
    /* display: flex; */

}
.fullshoes
{
    height: 300px;
    width: 100%;
    /* background-color: antiquewhite; */
}
.fullshoes .fourimg
{
    height: 300px;
    width: 80%;
    /* background-color: aqua; */
    margin: auto;
    display: flex;
    border-radius: 20px;
    justify-content: space-between;
}
.fullshoes .fourimg img
{
    height: 300px;
    width: 24.5%;
    border-radius: 20px;
}
.border3
{
    height: 2px;
    width: 33%;
    position: absolute;
    top: 159.4%;
    left: 5.5%;
    margin-left: 5%;
    background-color: black;
}
.border4
{
    height: 2px;
    width: 36%;
    position: absolute;
    top: 159.4%;
    right: 10%;
    margin-right: 10.%;
    background-color: black;
}
.ful
{
    height: 300px;
    width: 100%;
    /* background-color: antiquewhite; */
    /* margin-bottom: 2%; */
}
.ful .videoful
{
    height: 300px;
    width: 80%;
    /* background-color: aqua; */
    margin: auto;
}
video
{
    height: 300px;
    width: 22.4%;
    position: absolute;
    top: 162.8%;
    /* right: 70.9%; */
    border-radius: 20px;
    /* outline: none; */
}
.ful .videoful .video1
{
    height: 300px;
    width: 19%;
    /* border: 10px solid black; */

}
.ful .videoful .video1:hover
 {
    border: 10px solid black;
    padding: 0%;
 }
.ful .videoful .video2
{
    height: 300px;
    width: 19%;
    /* border: 10px solid black; */
    right: 10%;

}
.ful .videoful .video2:hover
 {
    border: 10px solid black;
    padding: 0%;
 }
.ful .videoful .img2
{
    height: 300px;
    width: 19%;
    /* border: 10px solid black; */
    position: absolute;
    left: 30%;
    border-radius: 20px;

}
.ful .videoful .img2:hover
 {
    border: 10px solid black;
    padding: 0%;
 }
.ful .videoful .img3
{
    height: 300px;
    /* border: 10px solid black; */
    width: 19%;
    position: absolute;
    left: 50%;
    border-radius: 20px;
}
.ful .videoful .img3:hover
 {
    border: 10px solid black;
    padding: 0%;
 }

/* .ful .videoful .video1
{
    height: 300px;
    width: 22.4%;
} */
 .full2
 {
    height: 300px;
    width: 100%;
    /* background-color: antiquewhite; */
    margin-bottom: 5%;
 }
 .full2 .full-main
 {
    height: 300px;
    width: 80%;
    margin: auto;
    /* background-color: aqua; */
    display: flex;
    /* justify-content: end; */
    /* align-items: end; */

 }
 /* video
 {
    height: 310px;
    width: 18%;

 } */
 .full2 .full-main .video3
 {
    height: 300px;
    width: 19%;
    position: absolute;
    top: 210%;

  
 }
 .full2 .full-main .video3:hover
 {
    border: 10px solid black;
 }
 .full2 .full-main .video4
 {
    height: 300px;
    width: 19%;
    position: absolute;
    top: 210%;
    left: 30%;

 }
 .full2 .full-main .video4:hover
 {
    border: 10px solid black;
 }
 .full2 .full-main .video5
 {
    height: 300px;
    width: 19%;
    position: absolute;
    margin-top: 2%;
    box-shadow: none;
    top: 205.5%;
    right: 31%;
    /* border: 10px solid black; */
  
 }
 .full2 .full-main .video5:hover
 {
    border: 10px solid black;
    padding: 0%;
 }
 .full2 .full-main .img4
 {
    height: 300px;
    width: 19%;
    position: absolute;
    top: 209.5%;
    /* border: 10px solid black; */
    right: 10%;
    border-radius: 20px;
  
 }
 .full2 .full-main .img4:hover
 {
    border: 10px solid black;
    padding: 0%;
 }

.border5
{
    height: 1px;
    width: 100%;
    background-color: black;
    position: absolute;
    top: 310%;
}
 .full3
 {
    /* margin: auto; */
    height: 300px;
    width: 100%;
    /* background-color: antiquewhite; */
    border-radius: 20px;
    margin-bottom: 5%;

 }
 .full3 .three
 {
    height: 300px;
    border-radius: 20px;
    width: 80%;
    margin: auto;
    /* background-color: aqua; */
    display: flex;
    /* justify-content: start; */
 }
 .full3 .three .img5
 {
    height: 300px;
    width: 24.4%;
    /* border: 10px solid black; */
    border-radius: 20px;
    /* justify-content: start; */

 }
 .full3 .three .img5:hover
 {
    border: 10px solid black;
 }
 .full3 .three .img6
 {
    height: 300px;
    width: 24%;
    position: relative;
    /* border: 10px solid black; */
    left: 1%;
    border-radius: 20px;
    /* justify-content: center; */
 }
 .full3 .three .img6:hover
 {
    border: 10px solid black;
 }
 .full3 .three .video6
 {
    height: 300px;
    width: 24%;
    position: relative;
    top: 0%;

    left: 1.5%;
 }
 .full3 .three .video6:hover
 {
    border: 10px solid black;
 }
 .full3 .three .video7
 {
    height: 300px;
    width: 24%;
    position: relative;
    top: 0%;
    /* border: 10px solid black; */
    left: 4%;
 }
 .full3 .three .video7:hover
 {
    border: 10px solid black;
 }
.border5
{
    height: 2px;
    width: 100%;
    background-color: black;
}
.a
{
    color: black;
}
.b
{
    color: black;
    /* font-weight: 700; */
    font-family: sans-serif;
}
.myaccount
{
    /* height: 10%; */
    width: 10%;
    position: relative;
    left: 200px;

}
.login
{
    width: 10%;
    position: relative;
    top: 10px   ;
    left: 200px;

}
.myorder
{
    width: 10%;
    position: relative;
    top: 14px   ;
    left: 200px;

}
.track
{
    width: 10%;
    position: relative;
    top: 18px   ;
    left: 198px;

}
.help
{
    position: relative;
    left: 400px;
    bottom: 80px;
}
.contact
{
    position: relative;
    left: 400px;
    bottom: 70px;
}.trade
{
    position: relative;
    left: 400px;
    bottom: 60px;
}.know
{
    position: relative;
    left: 400px;
    bottom: 55px;
}.return
{
    position: relative;
    left: 400px;
    bottom: 50px;
}
.about
{
    position: relative;
    left: 650px;
    bottom: 180px;
}
.company
{
    position: relative;
    left: 650px;
    bottom: 170px;
}
.our
{
    position: relative;
    left: 650px;
    bottom: 160px;
}
.haps
{
    position: relative;
    left: 650px;
    bottom: 150px;
}
.stores
{
    position: relative;
    left: 650px;
    bottom: 140px;
}
.legal
{
    position: relative;
    left: 1000px;
    bottom: 275px;
}
.term
{
    position: relative;
    left: 1000px;
    bottom: 265px;
}
.privacy{
    position: relative;
    left: 1000px;
    bottom: 255px;
}
.payments
{
    position: relative;
    left: 1000px;
    bottom: 245px;
}
.shipping
{
    position: relative;
    left: 1000px;
    bottom: 230px;
}
.border6
{
    height: 1px;
    width: 40%;
    background-color: black;
    position: relative;
    bottom: 180px;
    left: 90px;
}
h4
{
    position: relative;
    bottom: 190px;
    left: 700px;
}

.border7
{
    height: 1px;
    width: 40%;
    background-color: black;
    position: relative;
    bottom: 200px;
    left: 800px;
}